@media only screen and (device-width: 320px) and (device-height: 480px) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 53, ../sass/vunits.scss */
  .test .hey {
    height: 70px;
  }

  /* line 53, ../sass/vunits.scss */
  .test .hey {
    width: 38px;
  }

  /* line 53, ../sass/vunits.scss */
  .test .who {
    height: 100px;
  }

  /* line 53, ../sass/vunits.scss */
  .test .who {
    width: 50px;
  }

  /* line 53, ../sass/vunits.scss */
  .test .what {
    height: 100px;
  }
}
@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 53, ../sass/vunits.scss */
  .test .hey {
    height: 70px;
  }

  /* line 53, ../sass/vunits.scss */
  .test .hey {
    width: 38px;
  }

  /* line 53, ../sass/vunits.scss */
  .test .who {
    height: 100px;
  }

  /* line 53, ../sass/vunits.scss */
  .test .who {
    width: 50px;
  }

  /* line 53, ../sass/vunits.scss */
  .test .what {
    height: 100px;
  }
}
@media all {
  /* line 53, ../sass/vunits.scss */
  .test .hey {
    height: 70px;
  }

  /* line 53, ../sass/vunits.scss */
  .test .hey {
    width: 38px;
  }

  /* line 53, ../sass/vunits.scss */
  .test .who {
    height: 100px;
  }

  /* line 53, ../sass/vunits.scss */
  .test .who {
    width: 50px;
  }

  /* line 53, ../sass/vunits.scss */
  .test .what {
    height: 100px;
  }
}
